.icons8-facebook {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IgogICAgIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIKICAgICB2aWV3Qm94PSIwIDAgNDggNDgiCiAgICAgc3R5bGU9ImZpbGw6IzAwMDAwMDsiPjxnIGlkPSJzdXJmYWNlMSI+PHBhdGggc3R5bGU9IiBmaWxsOiMzRjUxQjU7IiBkPSJNIDQyIDM3IEMgNDIgMzkuNzYxNzE5IDM5Ljc2MTcxOSA0MiAzNyA0MiBMIDExIDQyIEMgOC4yMzgyODEgNDIgNiAzOS43NjE3MTkgNiAzNyBMIDYgMTEgQyA2IDguMjM4MjgxIDguMjM4MjgxIDYgMTEgNiBMIDM3IDYgQyAzOS43NjE3MTkgNiA0MiA4LjIzODI4MSA0MiAxMSBaICI+PC9wYXRoPjxwYXRoIHN0eWxlPSIgZmlsbDojRkZGRkZGOyIgZD0iTSAzNC4zNjcxODggMjUgTCAzMSAyNSBMIDMxIDM4IEwgMjYgMzggTCAyNiAyNSBMIDIzIDI1IEwgMjMgMjEgTCAyNiAyMSBMIDI2IDE4LjU4OTg0NCBDIDI2LjAwMzkwNiAxNS4wODIwMzEgMjcuNDYwOTM4IDEzIDMxLjU5Mzc1IDEzIEwgMzUgMTMgTCAzNSAxNyBMIDMyLjcxNDg0NCAxNyBDIDMxLjEwNTQ2OSAxNyAzMSAxNy42MDE1NjMgMzEgMTguNzIyNjU2IEwgMzEgMjEgTCAzNSAyMSBaICI+PC9wYXRoPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
  background-size: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}
header {
  background-image: url("../img/BG_hands_9.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
header nav {
  background-color: #3f59a3;
  padding: 0 calc((100% - 1000px)/2);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 calc((100% - 1000px)/2);
}
header section.logo-container {
  padding: 2px;
  background-color: white;
  border: 3px solid #3f59a3;
  margin: 70px auto;
  width: 1000px;
}
header section.logo-container section.logo {
  background-image: url("../img/header.svg");
  background-position: center;
  background-color: white;
  background-size: 996px;
  padding: 4px;
  border: 3px solid #3f59a3;
  background-repeat: no-repeat;
  height: 130px;
}
