.icons8-facebook {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IgogICAgIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIKICAgICB2aWV3Qm94PSIwIDAgNDggNDgiCiAgICAgc3R5bGU9ImZpbGw6IzAwMDAwMDsiPjxnIGlkPSJzdXJmYWNlMSI+PHBhdGggc3R5bGU9IiBmaWxsOiMzRjUxQjU7IiBkPSJNIDQyIDM3IEMgNDIgMzkuNzYxNzE5IDM5Ljc2MTcxOSA0MiAzNyA0MiBMIDExIDQyIEMgOC4yMzgyODEgNDIgNiAzOS43NjE3MTkgNiAzNyBMIDYgMTEgQyA2IDguMjM4MjgxIDguMjM4MjgxIDYgMTEgNiBMIDM3IDYgQyAzOS43NjE3MTkgNiA0MiA4LjIzODI4MSA0MiAxMSBaICI+PC9wYXRoPjxwYXRoIHN0eWxlPSIgZmlsbDojRkZGRkZGOyIgZD0iTSAzNC4zNjcxODggMjUgTCAzMSAyNSBMIDMxIDM4IEwgMjYgMzggTCAyNiAyNSBMIDIzIDI1IEwgMjMgMjEgTCAyNiAyMSBMIDI2IDE4LjU4OTg0NCBDIDI2LjAwMzkwNiAxNS4wODIwMzEgMjcuNDYwOTM4IDEzIDMxLjU5Mzc1IDEzIEwgMzUgMTMgTCAzNSAxNyBMIDMyLjcxNDg0NCAxNyBDIDMxLjEwNTQ2OSAxNyAzMSAxNy42MDE1NjMgMzEgMTguNzIyNjU2IEwgMzEgMjEgTCAzNSAyMSBaICI+PC9wYXRoPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
  background-size: 100%;
}
.arrow-path {
  fill: none;
  stroke-width: 5;
  stroke-miterlimit: 10;
  z-index: -1;
}
figure {
  width: auto;
}
figure img {
  max-width: 100%;
}
div.wp-block-button a.wp-block-button__link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background-color: #3f59a3;
}
div.wp-block-button a.wp-block-button__link:hover {
  color: black;
  background-color: #F4CF71;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
div.widget-area {
  max-width: 1000px;
}
a {
  text-decoration: none;
  color: #3f59a3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
a:hover {
  color: #F4CF71;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
div form {
  text-align: center;
}
div.cf7md-item {
  text-align: left;
}
div#cf7md-form input[type="date"] {
  height: 50px;
  font-size: 16px;
  background-color: whitesmoke;
  border-top: none;
  border-left: none;
}
div#cf7md-form .mdc-layout-grid__inner > p:not(.mdc-layout-grid__cell),
div#cf7md-form div.cf7md-item {
  text-align: left;
}
form.mc4wp-form-theme {
  margin-top: 40px;
}
form.mc4wp-form-theme div.mc4wp-form-fields p input {
  margin: auto;
}
form.mc4wp-form-theme div.mc4wp-form-fields p input[type="submit"] {
  background-color: #3f59a3;
}
form.mc4wp-form-theme div.mc4wp-form-fields p input[type="submit"]:hover {
  background-color: #F4CF71;
  border-color: #F4CF71;
}
header {
  background-image: url("../img/BG_hands_9.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: -50px;
}
header nav {
  background-color: #3f59a3;
  padding: 0 calc((100% - 1000px)/2);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav i {
  font-size: 0;
}
header nav a {
  color: white;
  text-decoration: none;
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
header nav a:hover {
  color: #F4CF71;
  font-size: 13px;
  padding-bottom: 16px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
header nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000px;
  z-index: 100;
}
header nav.fixed a {
  padding: 20px 15px;
}
header nav.fixed a:hover {
  padding-bottom: 18px;
  padding-top: 18px;
}
header div.nav-spacer {
  width: 100%;
  height: 81px;
  display: none;
}
header ul.social-media {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 calc((100% - 1000px)/2);
  min-height: 110px;
}
header ul.social-media div {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
header ul.social-media div:hover {
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
header section.logo-container {
  padding: 2px;
  background-color: white;
  border: 3px solid #3f59a3;
  margin: 0 auto;
  width: 1000px;
}
header section.logo-container section.logo {
  background-image: url("../img/header.svg");
  background-position: center;
  background-color: white;
  background-size: 996px;
  padding: 4px;
  border: 3px solid #3f59a3;
  background-repeat: no-repeat;
  min-height: auto;
  max-height: auto;
  height: 130px;
}
header h1.page-header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 2px #3f59a3;
  text-align: center;
}
ul.featured {
  list-style: none;
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 0;
  justify-content: center;
}
ul.featured li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 30%;
  margin: 0 3%;
  word-wrap: break-word;
}
@keyframes featured_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
ul.featured li a {
  text-decoration: none;
}
ul.featured li a div.featured-img {
  width: 125px;
  height: 125px;
  background-color: #3f59a3;
  border-radius: 50%;
  animation-delay: 2s;
  -webkit-animation: featured_in 1s linear;
  -moz-animation: featured_in 1s linear;
  -ms-animation: featured_in 1s linear;
  -o-animation: featured_in 1s linear;
  animation: featured_in 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  color: white;
}
ul.featured li a div.featured-img:hover {
  color: black;
  background-color: #F4CF71;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  cursor: pointer;
}
ul.featured li:nth-of-type(2) div.featured-img {
  animation-delay: 0s;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}
@keyframes draw-on-off {
  from {
    stroke-dashoffset: 450;
  }
}
section.droplet-svg {
  width: 850px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -50px;
}
section.droplet-svg path.arrow-path {
  stroke-dashoffset: -450;
  stroke-dasharray: 450;
  -webkit-animation: draw-on-off 1s linear forwards;
  -moz-animation: draw-on-off 1s linear forwards;
  -ms-animation: draw-on-off 1s linear forwards;
  -o-animation: draw-on-off 1s linear forwards;
  animation: draw-on-off 1s linear forwards;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main article {
  width: 1000px;
}
main article h1 {
  font-size: 30px;
}
main section.page-body {
  width: 1000px;
}
main article.scholarship-winner {
  display: flex;
  padding: 20px 0;
}
main article.scholarship-winner figure {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  min-width: 200px;
}
main article.scholarship-winner section.content h3 {
  margin: 0;
}
main article.team_member {
  display: flex;
  margin: 20px 0;
}
main article.team_member figure {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  min-width: 200px;
  max-width: 200px;
}
main article.team_member section.content h3 {
  margin: 0;
}
main article.team_member p:empty {
  display: none;
}
main article.team_member h3 {
  margin-bottom: 0;
}
main article.team_member h5.team-title {
  margin: 0;
}
main article.team_member a {
  color: #3f59a3;
  text-decoration: none;
}
main article.team_member a:active {
  color: #F4CF71;
}
main hr {
  width: 1000px;
}
main section.donation-tracker-cell {
  display: flex;
  margin: 20px auto;
}
main section.donation-tracker-cell img {
  height: 20%;
  width: 20%;
  object-fit: contain;
}
main section.tracker {
  margin: 10px auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main section.tracker section.runner-info {
  display: flex;
  flex-direction: column;
  width: 90%;
}
main section.tracker section.runner-info h1.donation-title {
  margin: 0;
  align-self: flex-start;
  font-size: 30px;
}
main section.tracker section.donation-tracker {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: flex;
  background-color: #3f59a3;
  width: calc(90%);
  max-width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
}
main section.tracker section.donation-tracker div.donation-bar {
  height: 50px;
  margin-right: auto;
  margin-left: 5px;
  background-color: #F4CF71;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-animation: scale-in 1s ease;
  -moz-animation: scale-in 1s ease;
  -ms-animation: scale-in 1s ease;
  -o-animation: scale-in 1s ease;
  animation: scale-in 1s ease;
}
@-webkit-keyframes "scale-in" {
  from {
    width: 0;
  }
}
@-moz-keyframes "scale-in" {
  from {
    width: 0;
  }
}
@-ms-keyframes "scale-in" {
  from {
    width: 0;
  }
}
@-o-keyframes "scale-in" {
  from {
    width: 0;
  }
}
@keyframes "scale-in" {
  from {
    width: 0;
  }
}
main section.tracker section.donation-tracker section.labels {
  position: absolute;
  display: flex;
  height: 50px;
  width: 80%;
  max-width: 700px;
  align-items: center;
}
main section.tracker section.donation-tracker section.labels h1 {
  margin: 0;
  font-size: 20px;
}
main section.tracker section.donation-tracker section.labels h1.current {
  margin-right: auto;
  margin-left: 10px;
}
main section.tracker section.donation-tracker section.labels h1.goal {
  margin-left: auto;
  margin-right: 10px;
}
main section.tracker section.donate-for-team {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 1%;
}
footer {
  display: flex;
  padding: 30px;
  background-color: #3f59a3;
  color: white;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  header {
    height: auto;
  }
  header nav {
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header nav a {
    padding: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header nav a:hover {
    font-size: 11px;
    padding: 30px;
  }
  header nav i {
    font-size: 25px;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header nav i:hover {
    color: #F4CF71;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  header nav.mobile-hide {
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  header nav.mobile-hide a {
    color: transparent;
    padding: 0;
    height: 0;
    font-size: 0;
  }
  header ul.social-media {
    min-height: auto;
  }
  header section.logo-container {
    width: auto;
    margin-bottom: 15px;
  }
  header section.logo-container section.logo {
    background-size: contain;
    min-height: 20px;
    max-height: 130px;
    height: 10vw;
  }
  section.droplet-svg {
    display: none;
  }
  ul.featured {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: auto;
  }
  ul.featured li {
    width: auto;
  }
  ul.featured li p {
    max-width: 30vw;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main article.team_member figure {
    min-width: none;
    max-width: none;
  }
  main article {
    flex-direction: column;
    width: auto;
  }
  main article figure {
    margin: 0;
    min-width: auto;
  }
  main article figure img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 250px;
  }
  main article section.content {
    text-align: center;
  }
  main section.donation-tracker-cell {
    flex-direction: column;
    align-items: center;
  }
  main section.donation-tracker-cell img {
    height: 50%;
    width: 50%;
  }
  main section.donation-tracker-cell section.tracker section.runner-info h1.donation-title,
  main section.donation-tracker-cell section.tracker section.runner-info p {
    align-self: center;
  }
  main section.donation-tracker-cell section.tracker section.donation-tracker section.labels {
    width: 60%;
  }
  main section.donation-tracker-cell section.tracker section.donate-for-team {
    align-self: center;
    margin-left: 0;
    margin-top: 1%;
  }
  main ul.wp-block-gallery {
    margin: 0;
  }
  main section.page-body {
    width: 100%;
  }
  main hr {
    width: auto;
  }
  div#cf7md-form {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 430px) {
  ul.featured li {
    margin: 1%;
  }
  ul.featured li a div.featured-img {
    width: 30vw;
    height: 5vh;
  }
  ul.featured li p {
    max-width: 30vw;
  }
}
