@import "variables";

figure {
  width: auto;

  img {
    max-width: 100%;
  }
}

div.wp-block-button {
  a.wp-block-button__link {
    .transition(all 0.5s ease);
    background-color: @nav-color;
  }

  a.wp-block-button__link:hover {
    color: black;
    background-color: @nav-highlight-color;
    .transition(all 0.5s ease);
  }
}

div.widget-area {
  max-width: @center-width;
}

a {
    text-decoration: none;
    color: @nav-color;
    .transition(all 0.5s ease);
}

a:hover {
  color: @nav-highlight-color;
  .transition(all 0.5s ease);
}
