@import "variables";

figure {
  width: auto;

  img {
    max-width: 100%;
  }
}

div.wp-block-button {
  a.wp-block-button__link {
    .transition(all 0.5s ease);
    background-color: @nav-color;
  }

  a.wp-block-button__link:hover {
    color: black;
    background-color: @nav-highlight-color;
    .transition(all 0.5s ease);
  }
}

div.widget-area {
  max-width: @center-width;
}

a {
    text-decoration: none;
    color: @nav-color;
    .transition(all 0.5s ease);
}

a:hover {
  color: @nav-highlight-color;
  .transition(all 0.5s ease);
}

div {
  form {
    text-align: center;
  }
}

div.cf7md-item {
  text-align: left;
}

div#cf7md-form {
  input[type="date"] {
    height: 50px;
    font-size: 16px;
    background-color: whitesmoke;
    border-top: none;
    border-left: none;
  }

  .mdc-layout-grid__inner > p:not(.mdc-layout-grid__cell),
  div.cf7md-item {
    text-align: left;
  }
}

form.mc4wp-form-theme {
  margin-top: 40px;
  div.mc4wp-form-fields {
    p {
      input {
        margin: auto;
      }
      input[type="submit"] {
        background-color: @nav-color!important;
      }

      input[type="submit"]:hover {
        background-color: @nav-highlight-color!important;
        border-color: @nav-highlight-color;
      }
    }
  }
}
