article.donate {
  form {
    display: flex;
  }
  select {
    height: 30px;
  }

  div:nth-of-type(2) {
    margin-top: 50px;

    figure {
      margin-top: -25px;
    }
  }
}

article.donate, section.page-body {
  background-color: rgba(255,255,255,.75);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.75);
}
