@import "mixins";
@import "icons";
@import "svgs";
@import "common";
@import "variables";
@import "header";
@import "featured";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

@import "droplet-svg";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  article {
    width: @center-width;
    h1 {
      font-size: @article-h1-size;
    }
  }

  section.page-body {
    width: @center-width;
  }

  article.scholarship-winner {
    display: flex;
    margin: 20px 0;
    figure {
      margin: 0;
      padding: 0;
      justify-content: center;
      display: flex;
      min-width: 200px;
    }

    section.content {
      h3 {
        margin: 0;
      }
    }
  }

  @import "team-member";

  hr {
    width: @center-width;
  }

  @import "donation-tracker";
}

footer {
  display: flex;
  padding: 30px;
  background-color: @nav-color;
  color: @background-color;
  justify-content: center;
}

@import "mobile";
